/bio_embeds
/data
/repos
/src/ds_proc/ds_ft_add.py
/src/ds_proc/GWS_normal.py
/src/ds_proc/merge.sh
/src/feature_gen/__pycache__
/src/feature_gen/DNABERT*
/src/feature_gen/*.png
/src/feature_gen/AF2/fasta_files
/src/feature_gen/AF2/af2.sh
/src/feature_gen/AF2/get_fasta.py 
/src/feature_gen/AF2/split_fasta.py 
/src/feature_gen/AF2/uniprot_mapped_proteins.pkl 
/src/feature_gen/AF2/vbig
/src/feature_gen/C_NT/embeds
/src/feature_gen/C_NT/new_ds.sh
/src/feature_gen/C_NT/*png
/src/feature_gen/RNA_SS/run_ss_pred.sh
/src/feature_gen/SVD/svd.sh
/src/feature_gen/clean.sh
/src/feature_gen/xlnet_embeds
/src/feature_gen/__pycache__
/src/models/classification
/src/models/GLM
/src/models/regression/cnn 
/src/models/regression/encoder 
/src/models/regression/full_bilstm
/src/models/regression/low_rank_rnn
/src/models/regression/lr
/src/models/regression/perceiver
/src/models/regression/transformer
/src/models/regression/__pycache__
/src/models/regression/processed_keys
/src/models/regression/old_files
/src/models/regression/bilstm/__pycache__
/src/models/regression/bilstm/wandb
/src/models/regression/bilstm/logs
/src/models/regression/bilstm/reg_models
/src/models/regression/bilstm/analysis
/src/models/regression/bilstm/best_model
/src/models/regression/bilstm/bilstm_CA
/src/models/regression/bilstm/bs_reg 
/src/models/regression/bilstm/cnn3_bilstm
/src/models/regression/bilstm/ft_ensemble_model
/src/models/regression/bilstm/pretrain 
/src/models/regression/bilstm/bs_reg 
/src/models/regression/bilstm/run_bilstm.sh
/src/models/__pycache__
/src/models/regression/data_split
/src/models/regression/model_analysis
/src/models/regression/plots
/src/models/regression/pr_figs
/src/models/regression/loss_curves
/src/models/regression/xlnet/__pycache__
/src/models/regression/xlnet/wandb
/src/models/regression/xlnet/data 
/src/models/regression/xlnet/depr_linear
/src/models/regression/xlnet/preds 
/src/models/regression/xlnet/saved_models
/src/models/regression/xlnet/model_utils_ds06.py 
/src/models/regression/xlnet/model_utils_pel_depr.py
/src/models/regression/xlnet/model_utils_pretrain_idai.py 
/src/models/regression/xlnet/run_xlnet_pretrain_idai.sh
/src/models/regression/xlnet/run_xlnet.sh 
/src/models/regression/xlnet/xlnet_ds06.py 
/src/models/regression/xlnet/xlnet_depr_pel.py
/src/models/regression/xlnet/xlnet_model_pretrain_idai.py 
/src/models/regression/nt.ipynb 
/src/models/regression/split_ds.py
/src/plots
/mmseqs
/.vscode
.gitignore