/bio_embeds
/data
/repos
/src/ds_proc/ds_ft_add.py
/src/ds_proc/GWS_normal.py
/src/ds_proc/merge.sh
/src/feature_gen/__pycache__
/src/feature_gen/DNABERT*
/src/feature_gen/*.png
/src/feature_gen/AF2/fasta_files
/src/feature_gen/AF2/af2.sh
/src/feature_gen/AF2/get_fasta.py 
/src/feature_gen/AF2/split_fasta.py 
/src/feature_gen/AF2/uniprot_mapped_proteins.pkl 
/src/feature_gen/AF2/vbig
/src/feature_gen/C_NT/embeds
/src/feature_gen/C_NT/new_ds.sh
/src/feature_gen/C_NT/*png
/src/feature_gen/RNA_SS/run_ss_pred.sh
/src/feature_gen/SVD/svd.sh
/src/feature_gen/clean.sh
/src/models/classification
/src/models/GLM
/src/models/regression/__pycache__
/src/models/regression/processed_keys
/src/models/regression/old_files
/src/models/regression/bilstm/__pycache__
/src/models/regression/bilstm/wandb
/src/models/regression/bilstm/logs
/src/models/regression/bilstm/reg_models
/src/models/regression/bilstm/analysis/ablation_plots
/src/models/regression/bilstm/analysis/bw_plots
/src/models/regression/bilstm/analysis/ft_test_preds
/src/models/regression/bilstm/best_model/__pycache__
/src/models/regression/bilstm/best_model/logs
/src/models/regression/bilstm/best_model/reg_models
/src/models/regression/bilstm/best_model/plots
/src/models/regression/bilstm/best_model/run_best.sh
/src/models/regression/bilstm/bilstm_CA/__pycache__
/src/models/regression/bilstm/bilstm_CA/logs
/src/models/regression/bilstm/bilstm_CA/reg_models
/src/models/regression/bilstm/bilstm_CA/wandb 
/src/models/regression/bilstm/bilstm_CA/run_bca.sh
/src/models/regression/bilstm/bs_reg/__pycache__
/src/models/regression/bilstm/bs_reg/logs
/src/models/regression/bilstm/bs_reg/reg_models
/src/models/regression/bilstm/bs_reg/wandb
/src/models/regression/bilstm/bs_reg/bs_run_bilstm.sh
/src/models/regression/bilstm/cnn3_bilstm/__pycache__
/src/models/regression/bilstm/cnn3_bilstm/logs
/src/models/regression/bilstm/cnn3_bilstm/reg_models
/src/models/regression/bilstm/cnn3_bilstm/wandb
/src/models/regression/bilstm/cnn3_bilstm/run_cnn3_b.sh
/src/models/regression/bilstm/ft_ensemble_model/__pycache__
/src/models/regression/bilstm/ft_ensemble_model/logs
/src/models/regression/bilstm/ft_ensemble_model/reg_models
/src/models/regression/bilstm/ft_ensemble_model/wandb
/src/models/regression/bilstm/ft_ensemble_model/run_ensemble.sh
/src/models/regression/bilstm/pretrain/__pycache__
/src/models/regression/bilstm/pretrain/logs
/src/models/regression/bilstm/pretrain/reg_models
/src/models/regression/bilstm/pretrain/wandb
/src/models/regression/bilstm/pretrain/run_pretrain.sh
/src/models/regression/bilstm/run_bilstm.sh
/src/models/regression/cnn/__pycache__
/src/models/regression/cnn/logs
/src/models/regression/cnn/reg_models
/src/models/regression/cnn/wandb
/src/models/regression/cnn/run_cnn.sh
/src/models/__pycache__
/src/models/regression/data_split
/src/models/regression/encoder/__pycache__
/src/models/regression/encoder/logs
/src/models/regression/encoder/reg_models
/src/models/regression/encoder/wandb
/src/models/regression/encoder/run_enc.sh
/src/models/regression/loss_curves
/src/models/regression/low_rank_rnn/__pycache__
/src/models/regression/low_rank_rnn/logs
/src/models/regression/low_rank_rnn/reg_models
/src/models/regression/low_rank_rnn/wandb
/src/models/regression/low_rank_rnn/run_lrr.sh
/src/models/regression/lr/__pycache__
/src/models/regression/lr/logs
/src/models/regression/lr/reg_models
/src/models/regression/lr/wandb
/src/models/regression/lr/run_lr.sh
/src/models/regression/model_analysis
/src/models/regression/perceiver/__pycache__
/src/models/regression/perceiver/logs
/src/models/regression/perceiver/reg_models
/src/models/regression/perceiver/wandb
/src/models/regression/perceiver/run_perceiver.sh
/src/models/regression/plots
/src/models/regression/pr_figs
/src/models/regression/transformer/__pycache__
/src/models/regression/transformer/logs
/src/models/regression/transformer/reg_models
/src/models/regression/transformer/wandb
/src/models/regression/transformer/run_transformer.sh
/src/models/regression/xlnet/__pycache__
/src/models/regression/xlnet/saved_models
/src/models/regression/xlnet/wandb 
/src/models/regression/xlnet/run_xlnet_ds06.sh 
/src/models/regression/xlnet/run_xlnet_pretrain.sh
/mmseqs
/.vscode
.gitignore